ion-card{
    margin: 0 !important;
    width: 100% !important;
}


.ksh {
  color: #ff7733;
}

.carda{

  h1 {
    font-family: Cantarell;
    font-weight: bold;
    color: #ff7733;
  }

  p {
    margin: 0;
    font-family: Lato, serif
  }

  h2 {
    color: #ff7733;
    font-family: Lato, serif;
  }

}
