<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-slides autoplay="3000" pager>
      <ion-slide *ngFor="let image of [1,2,3,4]">
        <img src="./assets/imgs/{{image}}.jpg" alt="">
      </ion-slide>
    </ion-slides>
  </ion-card>

  <h1 padding center>Our Products</h1>

  <ion-grid>
    <ion-row>
      <ion-slides #productSlides>
        <ion-slide *ngFor="let product of products">
          <ion-card no-padding>
            <img [src]="product.featured_src" alt="">
            <h1>{{ product.title }}</h1>
            <p padding center>{{ product.description }}</p>
            <p center padding>{{ product.price }}</p>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </ion-row>
  </ion-grid>
</ion-content>
