<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <ion-card>
    <ion-slides autoplay="3000" pager>
      <ion-slide *ngFor="let image of [1,2,3,4]">
        <img src="./assets/imgs/{{image}}.jpg" alt="">
      </ion-slide>
    </ion-slides>
  </ion-card>

  <!--<img style="margin-top: 2em" src="./assets/imgs/banner.jpg" alt="">-->
  <h3>PRODUCTS</h3>

  <ion-grid>
    <ion-row>
      <ion-slides #productSlides>
        <ion-slide *ngFor="let product of products">
          <ion-card no-padding>
            <img [src]="product.featured_src" alt="">
            <h1>{{ product.title }}</h1>
            <p center padding [innerHTML]="product.description"></p>
            <h2>KSH {{product.price}}</h2>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-item *ngFor="let product of products" text-wrap>
      <ion-thumbnail item-left>
        <img [src]="product.featured_src" alt="">
      </ion-thumbnail>
      <h3>{{ product.title }}</h3>
      <p>
        <span [innerHTML]="product.description.substr(0, 45) + '...'"></span>
        <span [innerHTML]="product.price"></span>
      </p>
      <button ion-button icon clear item-right>
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadMoreProducts($event)">
    <ion-infinite-scroll-content>

    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
