
<ion-header>

  <ion-navbar color="mine">
    <ion-title style="text-align: center">Checkout</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-list>

    <ion-item-divider color="primary" style="display: none">Personal Details</ion-item-divider>

    <ion-item style="display: none">
      <ion-label>First Name</ion-label>
      <ion-input type="text" [(ngModel)]="newOrder.billing_address.first_name"></ion-input>
    </ion-item>

    <ion-item style="display: none">
      <ion-label>Last Name</ion-label>
      <ion-input type="text" [(ngModel)]="newOrder.billing_address.last_name"></ion-input>
    </ion-item>

    <ion-item style="display: none">
      <ion-label>Email</ion-label>
      <ion-input readonly type="email" [(ngModel)]="newOrder.email"></ion-input>
    </ion-item>

    <ion-item style="display: none">
      <ion-label>Username</ion-label>
      <ion-input readonly type="text" [(ngModel)]="newOrder.username"></ion-input>
    </ion-item>

    <!--BILLING-->

    <ion-item-divider color="dark">Billing</ion-item-divider>

    <ion-item>
      <ion-label>Address</ion-label>
      <ion-textarea type="text" maxlength="50" [(ngModel)]="newOrder.billing_address.address_1"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label>Town</ion-label>
      <ion-select [(ngModel)]="newOrder.billing_address.city">
        <ion-option value="Nairobi">Nairobi</ion-option>
        <ion-option value="Nakuru">Nakuru</ion-option>
        <ion-option value="Kisumu">Kisumu</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Postal Code</ion-label>
      <ion-input type="number" clearInput [(ngModel)]="newOrder.billing_address.postcode"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Phone Number</ion-label>
      <ion-input type="tel" [(ngModel)]="newOrder.billing_address.phone"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Same as Shipping?</ion-label>
      <ion-checkbox (ionChange)="setSimilar()"></ion-checkbox>
    </ion-item>

    <!--SHIPPING DETAILS-->

    <ion-item-divider color="dark" *ngIf="!similar">Shipping</ion-item-divider>

    <ion-item *ngIf="!similar">
      <ion-label>Address</ion-label>
      <ion-textarea type="text" maxlength="50" [(ngModel)]="newOrder.shipping_address.address_1"></ion-textarea>
    </ion-item>

    <ion-item *ngIf="!similar">
      <ion-label>Town</ion-label>
      <ion-select [(ngModel)]="newOrder.shipping_address.city">
        <ion-option value="Nairobi">Nairobi</ion-option>
        <ion-option value="Nakuru">Nakuru</ion-option>
        <ion-option value="Kisumu">Kisumu</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-item *ngIf="!similar">
    <ion-label>Postal Code</ion-label>
    <ion-input type="number" clearInput [(ngModel)]="newOrder.shipping_address.postcode"></ion-input>
  </ion-item>

  <ion-item *ngIf="!similar">
    <ion-label>Phone</ion-label>
    <ion-textarea type="tel" maxlength="13" [(ngModel)]="newOrder.shipping_address.phone"></ion-textarea>
  </ion-item>

  <ion-item-divider color="dark">Payment</ion-item-divider>

  <ion-item>
    <ion-label>Payment Method</ion-label>
    <ion-select [(ngModel)]="paymentMethod" required="true">
      <ion-option *ngFor="let item of paymentMethods" value="{{item.method_id}}">{{item.method_title}}</ion-option>
    </ion-select>
  </ion-item>


</ion-content>

<ion-footer>
  <button ion-button round block color="mine" (click)="placeOrder()">Place Order</button>
</ion-footer>
