<ion-header>

  <ion-navbar>
    <ion-title>{{ product.title }} details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <ion-slides autoplay="3000">
      <ion-slide *ngFor="let image of product.images">
        <img [src]="image.src">
      </ion-slide>
    </ion-slides>
    <ion-card-content>
      <ion-card-title>
        {{product.title}}
      </ion-card-title>
      <ion-chip *ngFor="let category of product.categories">
        <ion-label color="primary">{{ category }}</ion-label>
      </ion-chip>
    </ion-card-content>
  </ion-card>
</ion-content>
