<ion-header>

  <ion-navbar>
    <ion-title>{{ product.title }} details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <ion-slides autoplay="3000">
      <ion-slide *ngFor="let image of product.images">
        <img [src]="image.src">
      </ion-slide>
    </ion-slides>
    <ion-card-content>
      <ion-card-title>
        {{product.title}}
      </ion-card-title>
      <ion-chip *ngFor="let category of product.categories">
        <ion-label color="primary">{{ category }}</ion-label>
      </ion-chip>
      <i [innerHTML]="product.description"></i>
      <button ion-button icon-left block outline color="primary">
        <ion-icon name="basket"></ion-icon> Basketize!
      </button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-card-title>
        Specs
      </ion-card-title>
      <ion-grid>
        <ion-row *ngFor="let spec of product.attributes">
          <ion-col col-4>
            {{ spec.name }}
          </ion-col>
          <ion-col col-8>

          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
