
<ion-header>

  <ion-navbar color="mine">
    <ion-title style="text-align: center">Customer signup</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-list>
    <!--PERSONAL DETAILS-->
    <ion-item-divider color="primary">Personal details</ion-item-divider>

    <ion-item>
      <ion-label>First Name</ion-label>
      <ion-input type="text" [(ngModel)]="newUser.first_name" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Last Name</ion-label>
      <ion-input type="text" [(ngModel)]="newUser.last_name" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Phone Number</ion-label>
      <ion-input type="number" [(ngModel)]="newUser.phone_number" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input type="text" [(ngModel)]="newUser.email" (ionBlur)="checkEmail()" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input type="text" [(ngModel)]="newUser.password" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Password Confirm</ion-label>
      <ion-input type="text" [(ngModel)]="newUser.password_confirm" required></ion-input>
    </ion-item>

    <!--BILLING DETAILS-->

    <ion-item-divider color="primary">Billing details</ion-item-divider>

    <ion-item>
      <ion-label>Address</ion-label>
      <ion-textarea type="text" maxlength="50" [(ngModel)]="newUser.billing_address.address_1"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label>Town</ion-label>
      <ion-select [(ngModel)]="newUser.billing_address.city" required>
        <ion-option value="Nairobi">Nairobi</ion-option>
        <ion-option value="Nakuru">Nakuru</ion-option>
        <ion-option value="Kisumu">Kisumu</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Postal Code</ion-label>
      <ion-input type="number" clearInput [(ngModel)]="newUser.billing_address.postcode"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Phone Number</ion-label>
      <ion-input type="number" [(ngModel)]="newUser.billing_address.phone" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Same as Shipping?</ion-label>
      <ion-checkbox (ionChange)="setSimilar()"></ion-checkbox>
    </ion-item>

    <!--SHIPPING DETAILS-->

    <ion-item-divider color="primary" *ngIf="!similar">Shipping details</ion-item-divider>

    <ion-item *ngIf="!similar">
      <ion-label>Address</ion-label>
      <ion-textarea type="text" maxlength="50" [(ngModel)]="newUser.shipping_address.address_1"></ion-textarea>
    </ion-item>

    <ion-item *ngIf="!similar">
      <ion-label>Postal Code</ion-label>
      <ion-input type="number" clearInput [(ngModel)]="newUser.shipping_address.postcode"></ion-input>
    </ion-item>

    <ion-item *ngIf="!similar">
      <ion-label>Town</ion-label>
      <ion-select [(ngModel)]="newUser.shipping_address.city">
        <ion-option value="Nairobi">Nairobi</ion-option>
        <ion-option value="Nakuru">Nakuru</ion-option>
        <ion-option value="Kisumu">Kisumu</ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="!similar">
      <ion-label>Phone Number</ion-label>
      <ion-input type="number" [(ngModel)]="newUser.shipping_address.phone" required></ion-input>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
  <button ion-button round block (click)="signUp()" color="mine">Sign Up</button>
</ion-footer>
