<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="card-background-page">

    <ion-card>
      <img src="./assets/imgs/rock.png">
      <div class="card-title">Untitled Shopping App</div>
      <div class="card-subtitle">Buy more, shop less</div>
    </ion-card>

    <ion-list>

      <ion-item *ngFor="let category of categories" text-wrap (click)="openCategory(category)" menuClose>
        <ion-icon [name]="category.icon" item-left large></ion-icon>
        <h3>{{category.name}}</h3>
        <p>{{category.description}}</p>
      </ion-item>

      <ion-item (click)="openPage('signup')" menuClose *ngIf="!loggedIn">
        <ion-icon name="md-clipboard" item-left large></ion-icon>
        <h2>Sign Up</h2>
        <p>For a new Account</p>
      </ion-item>

      <ion-item (click)="openPage('login')" menuClose *ngIf="!loggedIn">
        <ion-icon name="log-in" item-left large></ion-icon>
        <h2>Login</h2>
        <p>Email and password</p>
      </ion-item>

      <ion-item-divider color="primary">Account</ion-item-divider>

      <ion-item (click)="openPage('cart')" menuClose *ngIf="loggedIn">
        <ion-icon name="cart" item-left large></ion-icon>
        <h2>Your Cart</h2>
        <p>view your cart here</p>
      </ion-item>

      <ion-item menuClose *ngIf="loggedIn">
        <ion-icon name="contact" item-left large></ion-icon>
        <h2>{{ (this.user.firstname == '' ? this.user.username : this.user.firstname) || ""}}</h2>
        <p>Welcome</p>
      </ion-item>

      <ion-item (click)="openPage('logout')" menuClose *ngIf="loggedIn">
        <ion-icon name="log-out" item-left large></ion-icon>
        <h2>Log Out</h2>
        <p>log out of storrific</p>
      </ion-item>

    </ion-list>

  </ion-content>
</ion-menu>


<ion-nav #content [root]="homePage"></ion-nav>
