.card-background-page {

  ion-card{
    position: relative;
    text-align: center;
    margin: 0 !important;
    width:100%;
  }

  .card-title{
    position: absolute;
    top: 35%;
    font-weight: bold;
    color:white;
    font-size: 2em;
    width: 100%;
  }

  .card-subtitle {
    position: absolute;
    width:100%;
    color:white;
    top:60%;
    font-weight: lighter;
    font-size:1.2em;
  }

}
